
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/app.js?v3"></script>
    <link href="~/Content/app.css?v2" rel="stylesheet" />
</head>
<body>
    <div> ここに表示されます。</div><button id="plus">Plus</button>
    <footer><input type="text"><button id="change">更新</button></footer>
</body>
</html>
